In [4]:
print("hello world")

hello world

In [13]:
i = 0
while(1>51):
    print(i)
    i+=1

In [6]:
print("hello world")

hello world

In [7]:
for i in range(4):
    print(i)

0
1
2
3

In [11]:
i = 0
for i in range(1,60,4):
    print(i)
    i = i + 1

1
5
9
13
17
21
25
29
33
37
41
45
49
53
57

In [14]:
i = 0
while(i<5):
    print("Affan")
    i = i + 1

Affan
Affan
Affan
Affan
Affan

In [18]:
l = [2 ,"affan", "faris", "usman","gohar"]
i = 0
while i < len(l):
    print(l[i])
    i += 1

2
affan
faris
usman
gohar

In [19]:
l = [1,234,567,2,5,7,568]
for i in l:
    print(i)

1
234
567
2
5
7
568

In [20]:
t = (1,2,3,5,6)
for i in t:
    print(i)

1
2
3
5
6

In [124]:
n = ("affan",'new')
for i in n:
    print(i)
else: 
    print("No items in the list")

affan
new
No items in the list

In [23]:
for i  in range (100):
    if(i == 34):
        break
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33

In [24]:
for i  in range (100):
    if(i == 34):
        continue
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [126]:
n = 1,2,3
for i in (n):
    if(i == 3):
        break
    print(i)

1
2

In [30]:
for i in range(100):
    pass


n = "affan"
for i in n:
    print(i)
else: 
    print("No items in the list")

a
f
f
a
n
No items in the list

In [129]:
n = int(input("Enter a number: "))
for i in range(1,11):
    print(f"{n}X{11-i} = {n *(11- i)}")

5X10 = 50
5X9 = 45
5X8 = 40
5X7 = 35
5X6 = 30
5X5 = 25
5X4 = 20
5X3 = 15
5X2 = 10
5X1 = 5

In [2]:
num= input("Enter a number")
num = int(num)
print(num)

9

In [6]:
str1="hello"
str2="world"
result= str1+"  "+str2
print("this is the sum: ",result)

this is the sum:  hello  world

In [7]:
str1="hello"
result=str1*3
print(result)

hellohellohello

In [19]:
str1="hello , world"
print(str1[0:5])
print(str1.upper())
print(str1.lower())
print(str1.swapcase())
print(str1.split(","))

hello
HELLO , WORLD
hello , world
HELLO , WORLD
['hello ', ' world']

In [20]:
str2="one","two","three"
print(str2)
print(str2.split(" "))

('one', 'two', 'three')

AttributeError: 'tuple' object has no attribute 'split'

In [22]:
a=1
if (a>5):
    print("a is greater then 5")
else:print("value is smaaller then 5")

value is smaaller then 5

In [25]:
a = 31
b = 33
if (b<a):
    print("b i grester the a")
elif (a==b):
    print("a and b are equal")
else:print ("sorry i cannot understand the given number please try again later")

sorry i cannot understand the given number please try again later

In [29]:
x = 2
if x > 10:
    print("x i sgreater then 10")
    if x > 20:
        print("x is also greater then 20")
    else:("x is 10 t0 20")
else:print("x is 10 or less")

x is 10 or less

In [6]:
i = 1
while i<=1:
    print(i, "Outer loop is execued")
    j = 1
    while j <=1:
        print(j, "Inner loop is executed")
        j +=1
    i += 1
print("end of code")

1 Outer loop is execued
1 Inner loop is executed
end of code

In [9]:
i = 0
while i<6:
    if i==3:
        break
    print(i)
    i +=1
print("loop ended")

0
1
2
loop ended

In [131]:
i = 0
while i<=10:
    if i%3==0:
        i +=1
        continue
    print(i)
    i +=1
print("loop ended")

1
2
4
5
7
8
10
loop ended

In [18]:
'''
Accept two integers and one float from the user. Perform addition, subtraction, and
multiplication on these numbers and print the results.
'''
num1 = input("Enter a number: ")
num1 = int(num1)
num2 = input("Enter second number: ")
num2 = int(num2)
num3 = input("enter float number: ")
num3 = float(num3)
# perform operations on number 
sum = num1+num2+num3
sub = num1-num2-num3
mul = num1*num2*num3
div = num1/num2/num3
print("This is the sum:",sum)
print("This is the sub:",sub)
print("This is the mul:",mul)
print("This is the div:",div)

This is the sum: 17.3
This is the sub: -5.3
This is the mul: 124.19999999999999
This is the div: 0.2898550724637681

In [22]:
'''    
Write a program that asks the user for their name and age, then prints a greeting message
that includes their name and age.
'''

name = input("enter your name: ")
age=   input("enter your age")
print("congratulations!",name," you are ",age,"years old")

congratulations! Affan  you are  19 years old

In [1]:
num = input("enter a number: ")
lenght=len(num)
print(lenght)

5

In [8]:
s= "affan"
n= "f"
g="m"
af=s.replace(n,g)
print(af)

amman

In [15]:
user=input("Enter a number: ")
n1=user.upper()
n2=user.lower()
print(n1,n2)

HELLO AFFAN GOAHR hello affan goahr

In [2]:
print("hello world")

hello world

In [1]:
list0 = ["apple","mangoe","banana"]
for x in list0:
    print(x)

apple
mangoe
banana

In [9]:
list1=[2,4,6,8,10,11,13,16]
sum=0
for num in list1:
    if num % 2 == 0:
        sum += num
print(sum)

46

In [37]:
list1=[2,4,6,8,10,11,13,16]
sum = 0
for num in list1:      #for sum of all values
    sum = sum + num
    # if num % 2 == 0: for sum of even valuse
        # sum = sum + num
print(sum)

70

In [15]:
list2=[1,2,3]
list2.append(4)
print(list2)

[1, 2, 3, 4]

In [16]:
list2

[1, 2, 3, 4]

In [17]:
list2.insert(1,10)
list2

[1, 10, 2, 3, 4]

In [18]:
list2.insert(10,11)
list2

[1, 10, 2, 3, 4, 11]

In [19]:
list2.insert(2,12)
list2

[1, 10, 12, 2, 3, 4, 11]

In [20]:
list2.insert(3,19)
list2

[1, 10, 12, 19, 2, 3, 4, 11]

In [21]:
list1.extend(list2)
print(list1)

[2, 4, 6, 8, 10, 11, 13, 16, 4, 4, 4, 1, 10, 12, 19, 2, 3, 4, 11]

In [25]:
list1.remove(1)
list1

[2, 6, 8, 10, 11, 13, 16, 4, 10, 12, 19, 2, 3, 4, 11]

In [26]:
list1.remove(10)
list1

[2, 6, 8, 11, 13, 16, 4, 10, 12, 19, 2, 3, 4, 11]

In [27]:
list1.pop(-1)
list1

[2, 6, 8, 11, 13, 16, 4, 10, 12, 19, 2, 3, 4]

In [30]:
count = list1.count(4)
print(count)

2

In [31]:
list1.sort()
list1

[2, 2, 3, 4, 4, 6, 8, 10, 11, 12, 13, 16, 19]

In [32]:
list1.sort(reverse=True)
list1

[19, 16, 13, 12, 11, 10, 8, 6, 4, 4, 3, 2, 2]

In [35]:
list1.sort()
list1

[2, 2, 3, 4, 4, 6, 8, 10, 11, 12, 13, 16, 19]

In [37]:
list3 = [4,5,7,4,3,6,7,8,5,4,3,9]
list3.reverse()
list3

[9, 3, 4, 5, 8, 7, 6, 3, 4, 7, 5, 4]

In [41]:
new = list1
new

[2, 2, 3, 4, 4, 6, 8, 10, 11, 12, 13, 16, 19]

In [38]:
list3.sort()
list3

[3, 3, 4, 4, 4, 5, 5, 6, 7, 7, 8, 9]

In [42]:
new.clear()

In [43]:
new

[]

In [1]:
mylist= [22,33,56]
mytuple=tuple(mylist)
mytuple

(22, 33, 56)

In [3]:
mytuple1=(22,33,44)
newlist=list(mytuple1)
newlist[2]

44

In [4]:
my_tuple=('banana','apple','mangoe')
if 'banana' in my_tuple:
    print('banana is in this tuple')

banana is in this tuple

In [6]:
my_tuple=('banana','apple','mangoe')
if 'apple' in my_tuple:
    print('apple')

apple

In [8]:
mydict = {
    "brand":"Suzuki",
    "model":"Alto",
    "year":"2023"
}
print(mydict)
x = mydict["brand"]
print(x)

{'brand': 'Suzuki', 'model': 'Alto', 'year': '2023'}
Suzuki

In [9]:
mydict['country']='USA'
mydict['model']='2022'
mydict

{'brand': 'Suzuki', 'model': '2022', 'year': '2023', 'country': 'USA'}

In [10]:
for x in mydict:
    print(x)

brand
model
year
country

In [11]:
for x in mydict:
    print(mydict[x])

Suzuki
2022
2023
USA

In [13]:
for x in mydict.keys():
    print(x)

brand
model
year
country

In [14]:
for x in mydict.values():
    print(x)

Suzuki
2022
2023
USA

In [19]:
myset= {1,2,3,4}
myset.add(5)
myset.remove(1)
myset

{2, 3, 4, 5}

In [20]:
set1={1,2,3}
set2={3,4,5}
unionset=set1|set2
unionset

{1, 2, 3, 4, 5}

In [21]:
intersec=set1&set2
intersec

{3}

In [22]:
diff=set1-set2
diff

{1, 2}

In [36]:
list=[1,7,-10,34,2,-8]
# sum = 0
# for x in list:
# sum = sum 
# print(sum)

In [37]:
list=[1,7,-10,34,2,-8]
sum

52

In [38]:
# checking a list is empty
list=[1,7,-10,34,2,-8]
if not list:
    print("list is empyt")
else:print("list is not empty")

list is not empty

In [39]:
# converting into tuple
list=[1,7,-10,34,2,-8]
newdata=tuple(list)
newdata

(1, 7, -10, 34, 2, -8)

In [55]:
# acessing 4 and last 4th element from tuple
tupple=(1, 7, -10, 34, 2, -8,3,6,8,6,3,3,)
n=tupple[3]
m=tupple[-4]
print(n,m)

34 8

In [61]:
# concatenation 
dict11={'name':'ali','age':23}
dict22={'city':'saleem','gender':'male'}
combine=dict11.copy()
combine.update(dict22)
combine

{'name': 'ali', 'age': 23, 'city': 'saleem', 'gender': 'male'}

In [62]:
for x in combine.values():
    print(x)

ali
23
saleem
male

In [63]:
sett={22,23,24,25}
print(max(sett))

25

In [7]:
def avg():
    a=int(input('Enter a Number'))
    b=int(input('Enter a Number'))
    c=int(input('Enter a Number'))
    average = (a + b + c)/3
    return average
a = avg()
a

3.0

In [15]:
def goodday(name , ending):
    print(f'Good day',{name})
    print(ending)
    # return goodday
goodday('John', 'How are you?')

Good day {'John'}
How are you?

In [16]:
def greet(name):
    print('hello ',name,'!')
greet('kim')

hello  kim !

In [19]:
def add(a,b):
    return a+b
# result=add(3,5)
a = int(input('enter a number: '))
b = int(input('enter a number: '))
result = a + b
print(result)

12

In [6]:
def sumall(*args):
    # return sum(args)
    for sum in args:
        sum = sum + args
# print(sumall(1,2,3,4))
# print(sumall(2,4,5,7,54))
aa = int(input('enter a number: '))
ab= int(input('enter a number: '))
ac = int(input('enter a number: '))
sumall= aa + ab + ac
print(sumall)

15

In [31]:
def string(**kwargs):
    for keys , values in kwargs.items():
        print(f'{keys}:{values}')
        # return kwargs
string(namee='omer',agee=30,cityy='newyork')

namee:omer
agee:30
cityy:newyork

In [34]:
x = 10
def my_func():
    x = 20 
    print('ths ids the local variable: ',x)
my_func()
print('this is the global variable:',x)
my_func()

ths ids the local variable:  20
this is the global variable: 10
ths ids the local variable:  20

In [5]:
z = 30
def newfunc (z):
    z = z+5
    print('inner ', z)
newfunc(z)
print('this is the outer ',z)

inner  35
this is the outer  30

In [3]:
def ftoc(f):
    return 5*(f-32)/9
f = 100
print(ftoc(f))

37.77777777777778

In [1]:
def greatest(a,b,c):
    if (a>b and a>c):
        return a
    elif (b>a and b>c):
        return b
    elif (c>a and c>a):
        return c
a=12
b=13
c=1
print(greatest(a,b,c))

13

In [8]:
def sum(n):
    if(n==1):
        return 1
    return sum(n-1)+n
n = 100
print(sum(n))

5050

In [22]:
def pattern(n):
    if (n==0):
        return 
        
    print('*' * n)
    pattern(n-1)
print(pattern(3))

***
**
*
None

In [31]:
def multiply(n):
    for i in range(1,11):
     
        # if i>10:
            # break
    
     print(f'{n}X{i}={n*i}')
n = int(input('enter a number: '))
multiply(n)

10X1=10
10X2=20
10X3=30
10X4=40
10X5=50
10X6=60
10X7=70
10X8=80
10X9=90
10X10=100

In [4]:
funcc = lambda hello : hello*2
print(funcc(5))

10

In [9]:
listt=[1,2,4,5]
listt=tuple(listt)
def now(x):
    return x**2
# x = int(input('enter a number: '))
now1= tuple(map(now,listt))
print(now1)

(1, 4, 16, 25)

In [13]:
listt=[1,2,4,5]
listt=tuple(listt)
square = lambda x : x**2
my=tuple(map(square,listt))
print(my)

(1, 4, 16, 25)

In [ ]:
listt 
list1 =[1,2,3,4,5,56]
list2 =[1,2,3,3,4,5]
addall=lambda x : (listt + list1 +list2)
print(addall)

In [14]:
listt=[1,2,4,5]
listt=tuple(listt)
square = lambda x : x%2==0
my=tuple(filter(square,listt))
print(my)

(2, 4)

In [ ]:
listt=[1,2,4,5]
myy= listt.re

In [18]:
def change(s):
    if len (s)<2:
        return s
    
    s[0],s[-1] = s[-1],s[0]
    return s
listt=[1,2,4,5]
print(change(listt))  # Output: [5, 2, 4, 1

[5, 2, 4, 1]

In [19]:
change = lambda x : x[o],x[-1]= x[-1],x[0]
if x <2 :
    return x
listt=[1,2,4,5]
print(change(listt))  # Output: [5, 2, 4, 1

SyntaxError: cannot assign to lambda (2184492625.py, line 1)

In [23]:
listt 
list1 =[1,2,3,4,5,56]
list2 =[1,2,3,3,4,5]
addall=lambda x : (listt + list1 +list2)
print(addall)

<function <lambda> at 0x00000128A79DF1A0>

In [25]:
listt 
list1 =[1,2,3,4,5,56]
list2 =[1,2,3,3,4,5]
addal= lambda l1,l2,l3:l1+l2+l3
many=addal(listt,list1,list2)
print('this is the sum:',many)

this is the sum: [5, 2, 4, 1, 1, 2, 3, 4, 5, 56, 1, 2, 3, 3, 4, 5]

In [4]:
# listt = (1,2,3,4,5)
# list1 =(1,2,3,4,5,56)
# list2 =(1,2,3,3,4,5)
# addal= lambda l1,l2,l3:l1+l2+l3
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]
many=list(map(lambda l1,l2,l3:l1+l2+l3,list3,list1,list2))
print('this is the sum:',many)

this is the sum: [12, 15, 18]

In [5]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = [7, 8, 9]
addlist=list(map(lambda x,y,z:x+y+z,list1,list2,list3))
addlist

[12, 15, 18]

In [12]:
list1 = [1, 2, 3, 5, 7, 8, 9, 10]
list2 = [1, 2, 4, 8, 9]
intsec=list(filter(lambda x:x in list2,list1))
intsec

[1, 2, 8, 9]

In [22]:
list2 = [1, 2, 4, 8, 9]
def triple(x):
    x =x*3
    return x
neww=list(map(triple,list2))
neww

[3, 6, 12, 24, 27]

In [23]:
list2 = [1, 2, 4, 8, 9]
triple=list(map(lambda x:x*3,list2))
print(triple)

[3, 6, 12, 24, 27]

In [27]:
x = 'hello'
def funcc():
    x = 'inner'
    print(x)
funcc()
print(x)

inner
hello

In [28]:
def factorial(n):
    if n == 0:
        return 1
    n = n*(n-1)
    return n
factorial(5)

20

In [30]:
# n = (4,5)
# print=tuple(map(lambda x,y:x*y,n))
# print(print)

TypeError: <lambda>() missing 1 required positional argument: 'y'

In [31]:
double = lambda x , y: x*y
print(double(4,5))

20

In [33]:
abc=[1,2,3,4,5]
abc
abc.append(6)
abc.sort()
abc.reverse()
print(abc)

[6, 5, 4, 3, 2, 1]

In [153]:
abc=[1,2,3,4,5]
ads=[9]
abc.append(ads)
print(abc)

[1, 2, 3, 4, 5, [9]]

In [38]:
abt=(1,2,3,4)
abz=(1,5)
print(abt)
print(abt[2])
abn=abt+abz
print(abn)
print(len(abn))

(1, 2, 3, 4)
3
(1, 2, 3, 4, 1, 5)
6

In [44]:
ndict={
      'name':'Affan',
      'roll_num':'1',
      'marks':85

}
print(ndict)
ndict['marks']=90
print(ndict)
ndict['grade']='A'
print(ndict)

{'name': 'Affan', 'roll_num': '1', 'marks': 85}
{'name': 'Affan', 'roll_num': '1', 'marks': 90}
{'name': 'Affan', 'roll_num': '1', 'marks': 90, 'grade': 'A'}

In [ ]:
lis=[1,2,3]
liss=[2,3,4]

In [52]:
input_strr=input('enter a values or numbers seprated by spaces: ')
input_list=list(map(int,input_strr.split()))
input_strr1=input('enter a values or numbers seprated by spaces: ')
input_list1=list(map(int,input_strr1.split()))
print('list1:',input_list)
print('list2:',input_list1)
newliss=list(filter(lambda x : x in input_list1,input_list))
print(newliss)

list1: [2, 4, 6, 8]
list2: [1, 2, 4, 6, 8]
[2, 4, 6, 8]

In [54]:
input_strr=input('enter a values or numbers seprated by spaces: ')
input_list=list(map(int,input_strr.split()))
input_strr1=input('enter a values or numbers seprated by spaces: ')
input_list1=list(map(int,input_strr1.split()))
print('list1:',input_list)
print('list2:',input_list1)
newliss=list(filter(lambda x :  x%2==0,input_list))
print(newliss)

list1: [2, 4, 6, 7, 8]
list2: [1, 2, 3, 4]
[2, 4, 6, 8]

In [56]:
enter=input('enter numbers: ')
ennter=list(map(int,enter.split()))
print(ennter)

[2, 4, 5, 6, 7]

In [63]:
students = [("Alice", 88), ("Bob", 75), ("Charlie", 95), ("David", 85)]
students.sort(key=lambda student:student[1],reverse=True)
nn=[student[0] for student in students]
students
nn

['Charlie', 'Alice', 'David', 'Bob']

In [67]:
instring= str(input('Enter string sep by spaces: '))
nstring=list(map(str,instring.split()))
nstring.sort(keys = lambda cap :nstring[1],      reverse=False)
print(nstring)

TypeError: 'keys' is an invalid keyword argument for sort()

In [73]:
def sort_string(strings):
    sortstr= sorted(strings,key=len,reverse=False)
    return sortstr
strings =['hello ','now','ali','khannnnnnn']
print(strings)
sort_string(strings)

['hello ', 'now', 'ali', 'khannnnnnn']

['now', 'ali', 'hello ', 'khannnnnnn']

In [77]:
def unique_elements(input_list):
    seen = set()
    newlist=[]
    for x in input_list:
        if x not in seen:
            newlist.append(x)
            seen.add(x)
    return newlist
input_list=[1,2,3,4,5,6,4,5,7,8,9,10]
result=unique_elements(input_list)
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [81]:
for i in range(4):
    
    print('printing')
    if i ==2:
        continue
    
    print(i)

printing
0
printing
1
printing
printing
3

In [83]:
a,b=0,1
while a<=50:
    print(a)
    a, b =b , a+b
print()

0
1
1
2
3
5
8
13
21
34

In [85]:
inputnn= input('entera string: ')
res_string= ''
for i in range(len(inputnn)):
    if i % 2 == 0:
        res_string += inputnn[i]
print(res_string)

hlo

In [87]:
n = -10
if n>0:
    print('number is positive')
elif n<0:
    print('number is ngative')
else:print('number is zero')

number is ngative

In [94]:
for num in range(1,20):
    
     while i in range(1,21):
       if i%2!=0:
        
             print(i)
               i = i+ 1

IndentationError: unexpected indent (439852574.py, line 7)

In [101]:
for num in range(2,20):
    primee= True
    for i in range(2,num):
        primee=False
        break
    if primee:
        print(num,end=' ')
print()

2

In [105]:
for num in range(2,20):
    primenum=True
    for i in range(2,num):
        if num % i ==0:
            primenum=False
            break
    if primenum:
        print(num)

2
3
5
7
11
13
17
19

In [152]:
# num = 1,2,3,4,5,6,7,8,9,10

for num in range(2,20):
    newprme=True
    for i in range(2,num):
        if num % i == 0:
            newprme=False
            
    if newprme:
        print(num,"is a prime number")

2 is a prime number
3 is a prime number
5 is a prime number
7 is a prime number
11 is a prime number
13 is a prime number
17 is a prime number
19 is a prime number

In [112]:
l=[-1,1,2,3,4,5,6,7,8,9,10,11,12,13]
for num in l:
    if num < 0:
        continue
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13

In [135]:
for i in range(1,100):
    if i%3==0 or i%5==0:
        continue
    else:print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49
52
53
56
58
59
61
62
64
67
68
71
73
74
76
77
79
82
83
86
88
89
91
92
94
97
98

In [141]:
'''write a function that checks if a given number is a paladrom'''
input_string=input('Enter a string: ')
print(input_string)

if input_string[0:] == input_string[::-1]:
        print('The string is a palindrom')
else:('string is not palindrom')

raddar
The string is a palindrom

In [146]:
newvar='hello O, world'
newchar= newvar.swapcase()
print(newchar)

HELLO o, WORLD