# EDA with Python Libraries 
## Pandas part 2

In [1]:
import pandas as pd
import numpy as np

In [4]:
import pandas as pd

df1 = pd.DataFrame({'key1': ['A', 'B', 'C'], 'key2': [1, 2, 3], 'value': [10, 20, 30]})
df2 = pd.DataFrame({'key1': ['A', 'B', 'D'], 'key2': [1, 2, 4], 'value': [100, 200, 300]})
inner_join=pd.merge(df1,df2,on='key1',how='inner')
print(inner_join)

  key1  key2_x  value_x  key2_y  value_y
0    A       1       10       1      100
1    B       2       20       2      200

In [12]:
df1 = pd.DataFrame({'id': [1, 2, 3], 'value': ['A', 'B', 'C']})
df2 = pd.DataFrame({'id': [2, 3, 4], 'value': ['D', 'E', 'F']})
outter_join=pd.merge(df1,df2,on='id',how='outer')
print(outter_join)
newoutter=outter_join.fillna(0)
print(' filled value')
print(newoutter)

   id value_x value_y
0   1       A     NaN
1   2       B       D
2   3       C       E
3   4     NaN       F
 filled value
   id value_x value_y
0   1       A       0
1   2       B       D
2   3       C       E
3   4       0       F

In [31]:
df1 = pd.DataFrame({'id': [1, 2], 'value': [10, 20]})
df2 = pd.DataFrame({'id': [1, 3], 'value': [30, 40]})
right_join=pd.merge(df1,df2,on='id',how='right')
print(right_join)

   id  value_x  value_y
0   1     10.0       30
1   3      NaN       40

In [36]:
df1 = pd.DataFrame({'value': [10, 20]}, index=['A', 'B'])
df2 = pd.DataFrame({'value': [30, 40]}, index=['A', 'C'])
# newdf=pd.merge(df1,df2,on='index',how='left',lsu)
newdf=df1.join(df2,how='left',rsuffix='right',lsuffix='left')
print(newdf)

   valueleft  valueright
A         10        30.0
B         20         NaN

In [34]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'C': [5, 6], 'D': [7, 8]})
arr1=[df1,df2]
neww=pd.concat(arr1,axis=1)
neww

   A  B  C  D
0  1  3  5  7
1  2  4  6  8

In [25]:

df1 = pd.DataFrame({'A': [1, 2], 'value': [10, 20]})
df2 = pd.DataFrame({'B': [1, 2], 'value': [30, 40]})

result = pd.merge(df1, df2, left_on='A', right_on='B', suffixes=('_left', '_right'))
print(result)

   A  value_left  B  value_right
0  1          10  1           30
1  2          20  2           40

In [38]:

df1 = pd.DataFrame({'A': [1, 2]})
df2 = pd.DataFrame({'A': [3, 4]})

result = pd.concat([df1, df2], ignore_index=True)
print(result)

   A
0  1
1  2
2  3
3  4

In [29]:
df1 = pd.DataFrame({'value': [1, 2]}, index=pd.MultiIndex.from_tuples([('A', 1), ('A',
2)], names=['letter', 'number']))
df2 = pd.DataFrame({'value': [3, 4]}, index=pd.MultiIndex.from_tuples([('B', 1), ('B',
2)], names=['letter', 'number']))
result = pd.concat([df1, df2])
result

               value
letter number
A      1           1
       2           2
B      1           3
       2           4

In [27]:
df1 = pd.DataFrame({'A': [1, 2], 'B': ['x', 'y']})
df2 = pd.DataFrame({'A': [3, 4], 'B': [True, False]})

result = pd.concat([df1, df2], ignore_index=True)
print(result)
print(result.dtypes)

   A      B
0  1      x
1  2      y
2  3   True
3  4  False
A     int64
B    object
dtype: object